#====================================================
#               Build/Test Outputs
#====================================================
/coverage
/.next/
/out/
/build
*.tsbuildinfo

#====================================================
#                 Caches & Logs
#====================================================
.contentlayer
.content-collections
.source
.vercel
sqlite.db
media

#====================================================
#                  Dependencies
#====================================================
/node_modules

#====================================================
#                  Miscellaneous
#====================================================
.DS_Store
*.pem
/.pnp
.pnp.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*

#====================================================
#              Environment Variables
#====================================================
.env*.local
.env
next-env.d.ts
